.register-container {
  display: inline-block;
  margin-right: .5rem;
}

.register-cancel-button {
  margin-right: 1rem;
}

.register-create-gist-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
